<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/css/purchase-order.css" />
    <title>Order Status</title>
  </head>
  <body>
    <div class="container">
      <!-- <div class="sidepanel"> -->
      <div id="mySidePanel" class="side-panel">
        <a href="javascript:void(0)" class="close-btn" onclick="closePanel()"
          >&times;</a
        >
        <h4 class="inst-name">M/s. Apollo Pharmacy</h4>
        <a href="/profile"
          ><img src="..\static\images\pfp.png" height="25px" width="25px" />
          Profile</a
        >
        <a href="/inventory"
          ><img
            height="20px"
            width="20px"
            src="..\static\images\inventory-alt.png"
          />
          Inventory</a
        >
        <a href="/sales-report"
          ><img height="20px" width="20px" src="..\static\images\sales.png" />
          Sales Report</a
        >
        <a href="/purchase-order"
          ><img height="20px" width="20px" src="..\static\images\PO.png" />
          Purchase Order</a
        >

        <a href="/bill"
          ><img height="25px" width="25px" src="..\static\images\truck.png" />
          Supply Requests</a
        >

        <a href="/checkout"
          ><img
            height="20px"
            width="20px"
            src="../static/images/shopping-cart.png"
          />
          Checkout</a
        >
        <a href="/Landing page"
          ><img height="20px" width="20px" src="..\static\images\logout.png" />
          Logout</a
        >
      </div>
    </div>
    <div class="inventory-dashboard">
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
        <div class="date-range-container">
          <label for="startDate">Start Date:</label>
          <input type="date" id="startDate" />

          <label for="endDate">End Date:</label>
          <input type="date" id="endDate" />

          <button id="submitBtn">Submit</button>
        </div>

        <div id="output"></div>
        <button class="sales-invoice-btn">Create Sales Invoice</button>

        <div class="dropdown">
          <button class="dropbtn">Sort By</button>
          <div class="dropdown-content">
            <a href="#">Order Number</a>
            <a href="#">Supplier</a>
            <a href="#">Order Amount</a>
          </div>
        </div>
        <!-- <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="true"
          >
            Sort By
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Supplier Name</a></li>
            <li><a class="dropdown-item" href="#">PO Date</a></li>
            <li><a class="dropdown-item" href="#">Order Amount</a></li>
            <li><a class="dropdown-item" href="#">Payment Due Date</a></li>
          </ul>
        </div> -->
      </nav>
      <div class="header">
        <table class="med-list">
          <tr class="med-list-row">
            <th>ORDER NUMBER</th>
            <th>SUPPPLIER</th>
            <th>ORDER DATE</th>
            <th>ORDER AMT</th>
            <th>PUR ORD PENDING AMT</th>
            <th>DELIVERY DATE</th>
          </tr>
          <tr class="med-list-row">
            <td><a class="idpopup" href="#" id="openModal">43596</a></td>
            <td>Apollo Pharama</td>
            <td>14/07/2024</td>
            <td>50,000</td>
            <td>0</td>
            <td>14/07/2024</td>
          </tr>
          <tr class="med-list-row">
            <td><a class="idpopup" href="#" id="openModal">43596</a></td>
            <td>Apollo Pharama</td>
            <td>14/07/2024</td>
            <td>50,000</td>
            <td>0</td>
            <td>14/07/2024</td>
          </tr>
          <tr class="med-list-row">
            <td><a class="idpopup" href="#" id="openModal">43596</a></td>
            <td>Apollo Pharama</td>
            <td>14/07/2024</td>
            <td>50,000</td>
            <td>0</td>
            <td>14/07/2024</td>
          </tr>
          <tr class="med-list-row">
            <td><a class="idpopup" href="#" id="openModal">43596</a></td>
            <td>Apollo Pharama</td>
            <td>14/07/2024</td>
            <td>50,000</td>
            <td>0</td>
            <td>14/07/2024</td>
          </tr>
          <tr class="med-list-row">
            <td><a class="idpopup" href="#" id="openModal">43596</a></td>
            <td>Apollo Pharama</td>
            <td>14/07/2024</td>
            <td>50,000</td>
            <td>0</td>
            <td>14/07/2024</td>
          </tr>
        </table>
      </div>
    </div>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Order Delivery Status</h2>
        <p></p>
      </div>
    </div>

    <button class="open-btn" onclick="openPanel()">☰ Menu</button>

    <!-- Date -->

    <!-- Date -->
    <script src="../static/js/purchase-order.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
