.distributor-card {
  margin-bottom: 20px;
}

.distributor-panel {
  background-color: #f1f1f1;
  border-radius: 5px;
  align-items: center;
  justify-items: center;
}

.row {
  background-color: #fff;
}

.card {
  margin-top: 10px;
  width: 250px;
  height: 230px;
}

.card-container {
  border: 1px #000 solid;
  border-radius: 5px;
  width: 1296px;
}
